* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole header */
header {
    display: flex;
    background-color: orange;
    /* DEBUG */
    height: 100px;
}

/* regole main*/
main {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}
.grandezza {
    display: flex;
    flex-basis: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 70px;
    
}
.product {
    margin-bottom: 30px;
    width: 600px;
    /* DEBUG */
    /* background-color: lightgray;
    border: 1px solid black;
    height: 950px; */
}
.products-img {
    width: 600px;
}
.details {
    display: flex;
    flex-direction: column;

}







